.DS_Store
**/__pycache__/
.ipynb_checkpoints
.vscode
log.*
*.log
*.swp
*.txt
*.log*
test/*.out*
test/out.*
*.swo
*.swp
molecules/
test/checkpoints/*
*.ncu-rep
**/*.so
**/*.o
**/*.jld
**/*.h5
**/*.pt
loss*
*.tar.gz
*.npz
result-*
**/out.*
*.data
